
body{
    background-color: #FBD87F;
    color: #7D4A2C;
    font-family: Montserrat', sans-serif;
    
}
header{
    text-align: center;
    font-size: 2rem;
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;

}
/* footer{
    background-image: url("pokemon background.jpg");
    height: 4rem;
} */

a{
    text-align: center;
    display: block;
    border: 2px #F48442 solid;
    color: #7D4A2C;
    border-radius: 5%;
    margin: 10px auto;
    width: 7.5rem;
    padding: 0.5em;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
}
a:hover{
    background-color: #F48442;
    color: white;
}
#a-type{
position: relative;
bottom: -10em;
}


.hidden{
    display:none;
}
.modal{
    border-radius: 5%;
    background-color: #fff1e9;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 50%;
    width: 100%;
    position: fixed; 
    top: 30%;
}
.ignore{
    display: none;
}
h1{
    font-family: 'Montserrat', sans-serif;
}
